/*==principal sheet*/

@import "./base.scss";
@import "./layouts/headings";
@import "./layouts/iconspart";
@import "./layouts/gallery";  
@import "./layouts/skillssection" ; 
@import "./layouts/successsections";

.portfolio{
    background-color: #f5fafd;
    h2{
        text-align: center;
        padding-top: 32px;
        margin-bottom: 0;
        font-weight: 600;
    }
    p{
        text-align: center;
        margin-bottom: 25px;
        margin-top: 10px;
        font-size: 0.9rem;
    }
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}


  