/*==principal sheet*/

@import "./base.scss";
@import "./layouts/headings";
@import "./layouts/iconspart";
@import "./layouts/gallery";  
@import "./layouts/skillssection" ; 
@import "./layouts/successsections";
@import "./layouts/portfolio";
@import "./layouts/client-aside";
@import "./layouts/team";

/*==blog section*/

.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5fafd;
    padding-top: 30px;
    padding-bottom: 50px;
    h2{
        margin-bottom: 0;
        font-weight: 600;
    }
    &__subtitle{
        text-align: center;
        font-size: 0.85rem;
        margin-bottom: 20px;

    }
    &__flex{
        display: flex;
        gap: 20px;
    }
    &__article{
        border: solid 1px lightgray;
        border-top: 0;
        background-color: white;
        width: 280px;
        img{
            height: 200px;
            width: 100%;
            object-fit: cover;
        }
        .grey{
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }
    &__text{
        padding: 20px;
        padding-bottom: 35px;
        h3{
            margin-top: 0;
            font-weight: 600;
        }
        p{
            font-size: 0.78rem;
            margin-bottom: 20px;
        }
        a,span{
            color: $color-secondary;
            font-weight: 600;
            font-size: 0.8rem;
        }

    }
    button{
        margin-top: 20px;
        height: 30px;
        width: 120px;
        font-size: 0.55rem;
        padding: 0;
        background-color: $color-primary;
        border: solid 2px $color-secondary;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        cursor: pointer;
    }
}

/*==form section*/


.form{
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: #6c737d;
    padding-top: 60px;
    padding-bottom: 60px;
    h2{
        font-weight: 600;
        margin: 0;
    }
    p{
        text-align: center;
        font-size: 0.85rem;
    }
    h2,p{
        color: white;
    }
    form{
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 30px;
        padding-bottom: 50px;
        align-items: flex-start;
        width: 600px;
        margin-top: 16px;
        label{
            font-weight: bold;
            font-size: 0.9rem;
            margin-bottom: 5px;
            margin-top: 16px;
        }
        span{
            color: red;
        }
        input,textarea{
            border: 1px solid lightgray;
        }
        .email{
            height: 30px;
            width: 356.8px;
        }
        textarea{
            width: 100%;
        }
    }
    &__flex{
        display: flex;
        gap: 20px;
    }
    &__name{
        display: flex;
        flex-direction: column;
        .sublabel{
            font-weight: normal;
            font-size: 0.8rem;
            margin-top: 0;
        }
        input{
            height: 30px;
        }

    }
    .submit{
        margin-top: 16px;
        height: 30px;
        width: 60px;
        cursor: pointer;
    }
}

footer{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    height: 200px;
    color: white;
    background-color: #222222;
    a{
        color: white;
        text-decoration: none;
        font-size: 0.85rem;
    }
    .footer__grid{
        border-right: 1px solid #2e2e2e;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 16px;
        p{
            margin: 0;
            font-size: 0.85rem;
        }
        i{
            font-size: 30px;
        }
        &--pink{
            display: flex;
            padding-top: 70px;
            justify-content: center;
            gap: 10px;
            background-color: $color-primary;
            i{
                font-size: 20px;
            }
            a:hover{
                color: whitesmoke;
            }
        }
    }
}

/*==media queries*/
@media screen and (max-width:1024px) {
    .team{
        &__group{
            display: grid; 
            grid-template-columns: 0.2fr 0.2fr; 
            grid-template-rows: 1fr 1fr; 
            gap: 16px 16px; 
        }

    }
}

@media screen and (max-width: 1024px) {
    .success{
        flex-direction: column;
        img{
            margin: 20px;
        }
        p{
            text-align: center;
        }
        &__text{
            p{
                margin-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .gallery__flex{
        &__image{
            height: 140px;
            width: 320px;
            &--middle{
                height: 160px;
                width: 300px;
            }
        }
    }

    .skills__grid{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .portfolio__grid{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        img{
            height: 280px;
        }
    }

    .blog__flex{
        flex-direction: column;
    }

}
